.history {
  position: absolute; 
  left: 5px; 
  bottom: 30px; 
  text-align: left; 
  padding: 5px;
  width: 200px;
}

.history h4 {
  font-size: 24px;
  color: #ccc;
}

.history ul {
  padding-inline-start: 20px;
}

.history li {
  font-size: 12px;
  color: #999;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 18px;
  height: 24px;
  padding-left: -20px;
}

.history li:hover {
  color: #DCB4CF;
  cursor: pointer;
}