@import '~antd/dist/antd.css';
@import 'assets/font/fonts.css';

.App {
  text-align: center;
}

.header {
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.header .logo {
  height: 30px;
  line-height: 64px;
}

.footer {
  background: #fff;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 3px
}

.ant-menu-dark {
  background: #2d4054;
}

.ant-menu {
  padding-top: 20px;
}

.bg-white {
  background: #fff;
}


